{% extends 'base.html' %}
{% block content %}

<h1>Car Detail</h1>

    <div class="card">
        <div class="card-content">
            <span class="card-title">{{car.model}}</span>
            <p>{{car.make}}</p>
            <p>{{car.year}}</p>
            <p>{{car.color}}</p>
            <p>{{car.description}}</p>
        </div>
        <div class="card-action">
            <a href="{% url 'car_update' car.id %}">Edit</a>
            <a href="{% url 'car_delete' car.id %}">Delete</a>
        </div>
    </div>


{% endblock %}